@use 'sass:math';
@import 'mixins';
@import 'fonts';
@import 'icons';

$fontFamily: 'Gilroy';
$fontSize: 16;
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1270;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$grayColor: #898989;
$darkGrayColor: #616161;

@import 'null';

body {
  color: #3a3a3a;
  &._lock {
    overflow: hidden;
  }
}
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
  max-width: $maxWidthContainer + px;
  padding: 0px 15px;
  margin: 0 auto;
}

@import 'forms';
@import 'ui';
@import 'popup';
@import 'header';
@import 'footer';

.page {
  flex: 1 1 auto;
}

//Section Advantages===============================================================================================
.advantages {
  @include adaptiv-value('padding-top', 70, 30, 1);
  @include adaptiv-value('padding-bottom', 70, 30, 1);
  // .advantages__container
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 2px dotted $grayColor;
    border-bottom: 2px dotted $grayColor;
    @media (max-width: 870px) {
      justify-content: space-around;
    }
  }
  // .advantages__item
  &__item {
    display: inline-grid;
    padding: 15px 0;
    grid-template: auto auto / 85px 1fr;

    @media (max-width: $md2+px) {
      min-width: 280px;
    }
    @media (max-width: $md3+px) {
      grid-template: auto auto / auto 1fr;
    }
  }
  // .advantages__icon
  &__icon {
    text-align: center;
    align-self: center;
    grid-row: span 2;
    @media (max-width: $md3+px) {
      padding: 0px 15px 0px 0px;
    }
  }
  // .advantages__title
  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    margin: 0px 0px math.div(2px, 18px) * 1em 0px;
  }
  // .advantages__text
  &__text {
    line-height: 150%;
    color: $grayColor;
  }
}

//Section Playlist===============================================================================================
//Playlist===============================================================================================
.page {
  &__main-playlist {
    color: #fff;
    z-index: 5;
    margin-top: 150px;
    @media (max-width: $md2+px) {
      margin-top: 100px;
    }
  }
}
.playlist {
  &_body {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &-wrapper {
    position: relative;
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 30%;
    @media (max-width: 370px) {
      top: 25%;
    }
    @media (min-width: $md3+px) {
      display: none;
    }
  }
  .playlist_tracks {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    &.swiper {
      margin-top: 20px;
    }
    .swiper-slide {
      .track_buttons {
        justify-content: center;
        a:not(:first-child) {
          margin-left: 20px;
        }
      }
      .track_name {
        p {
          text-transform: uppercase;
        }
      }
      .track_time {
        p {
          padding: 0px;
        }
      }
      .track_tags {
        justify-content: center;
        color: $grayColor;
      }
    }
  }

  &__container {
    position: relative;
    @media (min-width: $md2+px) {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 100vw;
        right: 376px;
        height: 100%;
      }
    }
  }
  .choose-license,
  .read-license,
  .cart-btn {
    @include adaptiv-value('width', 120, 80, 1);
  }
}
.track {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  color: black;
  border-bottom: 1px solid $darkGrayColor;
  &:hover {
    z-index: 10;
    background-color: #f0eeee;
    .track_cover {
      &:before {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &_cover {
    align-self: center;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    &:before {
      content: '';
      background-image: url('../img/play.png');
      background-repeat: no-repeat;
      position: absolute;
      background-size: 50%;
      background-position: center;
      top: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
    }
    img {
      height: 100px;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &_name {
    display: flex;
    padding: 20px;
    font-size: 16px;
    line-height: 150%;

    p {
      align-self: center;
      @include adaptiv-value('width', 300, 1, 1);
    }
  }

  &_time {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    @include adaptiv-value('width', 100, 50, 1);

    p {
      align-self: center;
      padding: 5px;
    }
  }

  &_tags {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    line-height: 150%;
    align-items: center;
    padding: 20px;
    min-width: 100px;
  }

  &_tags-tag {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media (max-width: $md3+px) {
    justify-content: flex-start;
    &_name {
      p {
        width: 100%;
      }
    }
  }
}
.playlist_tracks .track_buttons {
  @media (max-width: $md3+px) {
  }
}
.player-dots {
  align-self: center;
  width: 30px;
  height: 30px;
  flex: 0 0 auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
  visibility: hidden;
  background: url('../img/icons/dots.svg') no-repeat;
  background-size: contain;
  cursor: pointer;
}
.make-offer {
  font-size: 15px;
  font-weight: 400;
  &::before {
    display: none;
  }
}
.track_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;

  .cart-btn {
    width: 100px;
    height: 48px;
    margin: 10px;
    margin-left: 25px;
    padding: 10px;
    border-radius: 10px;
    align-self: center;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%)
      no-repeat;
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    color: #fff;
    @extend ._icon-cart;
    &::before {
      @extend %ic;
      margin-right: 6px;
    }
    @media (min-width: $md3+px) {
    }
    &:hover {
      background: -webkit-linear-gradient(135deg, #2868f1 0%, #ee175f 90%)
        no-repeat;
      background: linear-gradient(135deg, #2868f1 0%, #ee175f 90%) no-repeat;
    }
  }

  .track_share {
    margin-right: 20px;
    display: flex;
    color: $darkGrayColor;
    align-items: center;
    color: inherit;
    font-weight: 600;
    transition: color 0.3s ease 0s;
    &:hover {
      color: purple;
    }
    &::before {
      margin: 0px 10px 0px 0px;
      font-size: 16px;
    }
  }
}
.show-more {
  @include adaptiv-value('margin-top', 20, 10, 1);
  @include adaptiv-value('font-size', 16, 14, 1);
  align-self: flex-end;
  font-weight: 500;
  color: $darkGrayColor;
  background-color: #f0eeee;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  &:hover {
    background-color: #e4e1e1;
  }
}

//Playlist Slider===============================================================================================
.track.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: #fff;
  height: 100%;
  .track_cover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    &:before {
      background-size: 30%;
      visibility: visible;
      opacity: 1;
    }
    img {
      @include adaptiv-value('width', 300, 200, 1);
      @media (min-width: 370px) {
        @include adaptiv-value('width', 400, 270, 1);
      }
    }
  }
  .track_name {
    font-weight: 600;
  }
  .track_buttons {
    width: 100%;
    height: 80px;

    .cart-btn {
      margin: 0;
    }
  }
}

//Audio visualizer===============================================================================================
.player {
  display: flex;
  flex-direction: column;
  width: 100%;
  canvas {
    background-image: url('../img/smoke.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
}
.player_body {
  width: 100%;
}
.audio-player {
  @include adaptiv-value('height', 50, 35, 1);
  width: 100%;
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  font-size: 0.75em;
  overflow: hidden;
  display: grid;
  grid-template-rows: 6px auto;
}
.audio-player .timeline {
  background: white;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.audio-player .timeline .progress {
  background: rgb(207, 26, 168);
  width: 0%;
  height: 100%;
  transition: width 0.5s ease 0s;
}
.audio-player .controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 20px;
}
.audio-player .controls > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.audio-player .controls .time {
  display: flex;
}
.audio-player .controls .time > * {
  padding: 2px;
}

//Choose License===============================================================================================
.license {
  &_type-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 1px solid $darkGrayColor;
    line-height: 120%;
    box-sizing: border-box;
    @media (max-width: 610px) {
      justify-content: space-around;
    }
    .track_buttons {
      @media (max-width: 610px) {
        width: 100%;
      }
      @media (max-width: 360px) {
        flex-wrap: wrap;
        a {
          margin: 5px;
          width: 100%;
        }
      }
    }
  }

  &_type {
    @media (max-width: 610px) {
      width: 100%;
    }
  }

  &_type-title {
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &_type-files {
    padding-bottom: 20px;
  }
}
.license_list {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  li {
    width: 220px;
    padding-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 20px;
  }
  img {
    width: 30px;
    height: 30px;
    margin: 5px;
  }
}
.license_terms {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  ._icon-arrow-down {
    font-size: 8px;
    margin-left: 5px;
    transition: transform 0.5s ease 0s;
  }
}

//Popup Share===============================================================================================
.popup_popup-share {
  .popup {
    &__body {
      width: 500px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      img {
        width: 200px;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        border-radius: 50%;
      }
      p {
        text-transform: uppercase;
        color: white;
        text-shadow: 2px 2px 4px #000000;
        margin: 20px;
        font-size: 20px;
      }
    }
  }
}

//Buttons===============================================================================================
.choose-license,
.read-license,
.checkout {
  width: 100px;
  height: 48px;
  color: white;
  background-color: #0275d8;
  align-self: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  text-shadow: 2px 2px 4px #000000;
  &:hover {
    background-color: #055fad;
  }
}
.checkout {
  width: 100%;
}

//Read License Popup===============================================================================================
.popup-license {
  .popup__body {
    max-height: 800px;
    max-width: 1000px;
    overflow: auto;
    padding: 50px;
    .license_title {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 20px;
    }
    .license_text {
      line-height: 120%;
      p {
        margin-bottom: 10px;
      }
      ol > li::marker {
        font-weight: bold;
      }
      ul li {
        list-style: disc;
      }
      ol {
        li {
          margin-bottom: 10px;
          margin-left: 20px;
        }
        margin-bottom: 10px;
      }
    }
  }
}

//Section YouTube===============================================================================================
.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 1020px) {
    justify-content: space-around;
  }
}
.videos iframe {
  @include adaptiv-value('max-width', 550, 300, 1);
  @include adaptiv-value('margin-top', 50, 10, 1);
  @include adaptiv-value('margin-bottom', 50, 10, 1);
  @media (max-width: 1020px) {
    min-width: 80%;
  }
  margin-right: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

//Section Licensing Info Slider===============================================================================================
.swiper-button-prev,
.swiper-button-next {
  color: white;
  border-radius: 50%;
  text-shadow: 2px 2px 4px #000000;
  height: 30px;
}
.license-slider {
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 30%;
  }
}
.swiper {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}
.swiper-wrapper {
  position: relative;
}
.swiper-slide {
  img {
    width: 100%;
    height: 100%;
  }
}
.license-title {
  font-weight: 600;
  line-height: 120%;
  @include adaptiv-value('font-size', 24, 18, 1);
  transition: color 0.3s ease 0s;
  &:not(:last-child) {
    margin: 20px 0px math.div(8px, 24px) * 1em 0px;
  }
  @media (any-hover: hover) {
    &:hover {
      color: purple;
    }
  }
}
.license-text {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  ul {
    color: $grayColor;
    font-size: 16px;
    line-height: 150%;
    flex: 1 1 auto;
    li:not(:last-child) {
      border-bottom: 1px solid $grayColor;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
  }
}

//Section Cart===============================================================================================
.page__cart {
  margin-top: 120px;
  .cart-review {
    &_body {
      display: flex;
      flex-wrap: wrap;
      @include adaptiv-value('margin-top', 50, 10, 1);
    }

    &_list {
      @include adaptiv-value('width', 500, 300, 1);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      padding: 20px;

      margin-top: 30px;
      margin-bottom: 30px;

      .cart-list {
        width: 100%;
        overflow: visible;
        max-height: 100%;

        .cart-list-item {
          .cart-list-image {
            width: 80px;
            height: 80px;
          }
          .name {
            @include adaptiv-value('width', 300, 100, 1);
          }
        }
      }
      .total-amount {
        margin-top: 20px;
        margin-bottom: 20px;
        float: right;
      }
      .checkout {
        display: none;
      }
      .shopping {
        height: 48px;
      }
    }

    &_pay {
    }
    &_empty {
      width: 100%;
      display: flex;
      justify-content: center;
      p {
        text-align: center;
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        @include adaptiv-value('margin-top', 100, 50, 1);
        @include adaptiv-value('margin-bottom', 200, 100, 1);
        @include adaptiv-value('font-size', 30, 20, 1);
        color: $grayColor;
        &::before {
          margin-left: 10px;
        }
      }
    }
  }
}
